#addCategoryModal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

#addCategoryModal .modal-content {
    font-family: 'Poppins', sans-serif;
    background-color: #f1f1f1;
    margin: 5% auto;
    padding: 20px;
    width: 80%;
    border-radius: 10px;
}

#addCategoryModal .form-add-category {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#addCategoryModal .form-add-category label {
    font-family: 'Jost-Medium', sans-serif;
    font-size: 14px;
    color: #333;
}

#addCategoryModal .form-add-category input {
    font-family: 'Jost-Regular', sans-serif;
    font-size: 14px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#addCategoryModal .form-add-category button {
    font-family: 'Jost-Medium', sans-serif;
    font-size: 14px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #007bff;
    color: #f1f1f1;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

#addCategoryModal .close {
    width: 100%;
    font-size: 14px;
    border-radius: 5px;
    color: #f1f1f1;
    padding: 5px;
    font-weight: bold;
    background-color: #ff353d;
    border: none;
    margin-top: 6px;
    font-family: 'Jost-Regular', sans-serif;
}

@media (min-width: 768px){
    #addCategoryModal .modal-content {
        width: 50%;
    }
    #addCategoryModal .form-add-category label {
        font-size: 16px;
    }
    #addCategoryModal .form-add-category input {
        font-size: 16px;
    }
}
@media (min-width: 992px){
    #addCategoryModal .modal-content {
        width: 30%;
    }
    #addCategoryModal .form-add-category label {
        font-size: 18px;
    }
    #addCategoryModal .form-add-category input {
        font-size: 18px;
    }
}