
.course-info {
    background-color: #27292A;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    border-radius: 10px;
    padding: 20px;
}

.course-info-text {
    text-align: center;
    margin-bottom: 20px;

}

.course-info-text h2 {
    font-family: 'Poppins', sans-serif;
    color: var(--blue);
    margin-top: 0;
    font-size: 28px;
    font-weight: 600;
}
.course-info-text h4{
    font-family: 'Jost-Regular', sans-serif;
    color: var(--third-color);
    margin-top: 0;
    font-size: 16px;
    font-weight: 400;

}

.course-info-text p {
    font-family: 'Jost-Regular', sans-serif;
    margin: 40px 0;
    color: #bcbaba;
    font-size: 14px;
}

.course-info-text button{
    font-family: 'Poppins', sans-serif;
    background-color: var(--blue);
    color: #e2e2e2;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 10px;
}


.course-info-img img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 30px;
}
@media (min-width: 768px){
    .course-info {
        flex-direction: row;
        justify-content: space-between;
    }

    .course-info-text {
        text-align: left;
        margin-bottom: 0;
        padding: 0px 30px 0px 10px;
    }

    .course-info-text h2 {
        font-size: 32px;
    }
    .course-info-text h4{
        font-size: 18px;
    }

    .course-info-text p {
        margin: 20px 0;
        font-size: 12px;
    }

    .course-info-img  {
        width: 50%;
        height: auto;
    }

}
@media (min-width: 992px){
    .course-info {
        padding: 40px;
    }

    .course-info-text h2 {
        font-size: 36px;
    }
    .course-info-text h4{
        font-size: 20px;
    }

    .course-info-text p {
        margin: 30px 0;
        font-size: 14px;
    }

    .course-info-text button {
        padding: 15px 30px;
        font-size: 18px;
    }
    .course-info-img img{
        margin-bottom: 0px;
    }
    .course-info-img{
        width: 60%;
        height: auto;


    }

}

/*
.course-info-text h2 {
    margin-top: 0;
}

.course-info-text p {
    margin: 5px 0;
}*/
/*
.course-info-text button {
    background-color: #000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}

.course-info-img img {
    width: 50%;
    height: auto;
}*/