*{
    box-sizing: border-box;

}


:root{
    --background-main-color:/*#06052F/*#ECF0F1*/#0c0d0e;
    --fourth-color:/*#06052F/*#ECF0F1*/#1a1c1e;
    --main-color: #333333/*#D0CEF5*/;
    --second-color:#6C5ECF;
    --third-color:#F5F7FA/*#1144A6/*#eaeaea*/;
    --main-container-color:#27292A;
    --main-container:#27292A;
    --purple:#4711778f;
    --blue:#3572EF;
}
body{
    margin: 0;
    background-color: var(--background-main-color);
/*    background-image: url('../images/background-design-web.png');
    background-repeat: no-repeat;
    background-size: cover;*/
}

.container{
    max-width: 400px;
    margin: 0 auto;
    padding: 0 20px;
}
.main-container{
    max-width: 360px;
    margin: 10px auto;
    padding: 20px;
    border-radius: 20px;
    background-color: #151618;
}
.main-content {
    flex: 1;
}

@media (min-width: 768px){
    .container{
        max-width: 720px;
        margin: 0 auto;
    }
    .main-container{
        max-width: 720px;
    }
}
@media (min-width: 992px){
    .container{
        max-width: 1140px;
        margin: 0 auto;
    }
    .main-container{
        max-width: 1140px;
    }
    .main-content {
        flex: 1;

    }
}

